body {
  margin: 5px 50px;
  text-align: justify;
}

.request-response {
  display: flex;
  justify-content: center;
}

.url {
  display: flex;
  justify-content: center;
}

.image-url {
  width: 50%;
}

.image-method-http {
  width: 50%;
}

.image-status-code {
  width: 50%;
}

.parametros {
  display: flex;
  justify-content: center;
}

.image-parametros {
  width: 50%;
}

.image-rest {
  width: 50%;
}

.chaves {
  display: flex;
}

.chaves .simetrica {
  margin: 0 auto;
}

.chaves .assimetrica {
  margin: 0 auto;
}

@media (max-width: 1021px) {
  body {
    margin: 0 16px;
  }
  .chaves {
    flex-direction: column;
  }
  .image-url {
    width: 100%;
  }

  .image-method-http {
    width: 100%;
  }

  .image-status-code {
    width: 100%;
  }
  .image-parametros {
    width: 100%;
  }

  .image-rest {
    width: 100%;
  }
  .chaves .simetrica {
    width: 100%;
  }

  .chaves .assimetrica {
    width: 100%;
  }
}

@media (max-width: 447px) {
  h1 {
    font-size: 14px;
  }

  h2 {
    color: blue;
    font-size: 12px;
  }

  h3 {
    font-size: 10px;
  }

  p,
  ul li {
    font-size: 8px;
  }

  .image-request-response {
    width: 100%;
  }

  .image-assimetrica {
    width: 100%;
  }
  .image-simetrica {
    width: 100%;
  }
}
